// Body
$body-bg: #f8fafc;

$cytonn-green:linear-gradient(to bottom right, teal, lightgreen);
$font-family: 'Nunito', sans-serif;
$line-height-base: 1.6;

//colors
$teal: #4dc0b5;
$btn-primary:#0B8A89;
$btn-secondary:#3AC100;
$gray:#2E201B;
$white:#fff;
$black:#000;
