
@mixin status{
    border-radius: 50%;
    padding:5px 8px;
    margin: 5px;
}


.statusActive{
    @include status;
    background-color: green;
}

.statusInactive{
    @include status;
    background-color: Red;
}

.statusDelayed{
    @include status;
    background-color: Orange;
}
