input,
select,
textarea {
    border: 1px solid gray;
    background-color: white;
    border-radius: 0.25rem;
    padding: 10px;
    margin:0% 5%;
    width: 90%;
}
label{
    font-size:22px;
    color:$black;
    font-weight: bold;
    margin:4% 5%;
}

#loginForm{
    width:100%;
    margin: auto;
    img{
        margin: 5% 15%;
        max-width: 80%;
    }
    #loginBtn {
        @include button;
    }
    .login-btn-div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    #loginForm{
        width: 60%;
    }
}

@media (min-width: 1000px) {
    #loginForm {
        width: 55%;
    }
}
    @media (min-width: 1040px) {
        #loginForm{
            width: 40%;
        }
}



