table {
    font-family: serif;
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    table-layout: fixed;
    overflow-wrap: break-word;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: #f3f2f2;
}

